<%- include("./partials/header") %>
    <title>Dashboard</title>
    <link rel="stylesheet" href="css/dashboard.css">
    </head>

    <body>
        <!-- Aside: -->
        <aside class="aside-panel" id="aside-panel" >
            <div class="aside-panel__container">
                <div class="aside-panel__user">
                    <i class="fa-solid fa-user"></i>
                    <p><%=username%></p>
                </div>
                <div class="aside-panel__links">
                    <button class="aside-panel__link aside-panel__links__dashboard active">
                        <a href="/dashboard">
                            <i class="fa-solid fa-house"></i>
                            <p>Dashboard</p>
                        </a>
                    </button>
                    <button onmouseover="addHoverClassToElement(inventoryLink, 'active')" class="aside-panel__link aside-panel__links__inventory">
                        <a href="/inventario">
                            <i class="fa-solid fa-list"></i>
                            <p>Inventario</p>
                        </a>
                    </button>
                    <button onmouseover="addHoverClassToElement(addItemLink, 'active')" class="aside-panel__link aside-panel__links__addItem">
                        <a href="addItem">
                            <i class="fa-solid fa-plus"></i>
                            <p>Añadir producto</p>
                        </a>
                    </button>
                    <button onmouseover="addHoverClassToElement(editItemLink, 'active')" class="aside-panel__link aside-panel__links__editItem">
                        <a href="/editItemByQR">
                            <i class="fa-regular fa-pen-to-square"></i>
                            <p>Editar producto por QR</p>
                        </a>
                    </button>
                    <button onmouseover="addHoverClassToElement(makePurchasesLink, 'active')" class="aside-panel__link aside-panel__links__makePurchases">
                        <a href="/makePurchases">
                            <i class="fa-solid fa-bag-shopping"></i>
                            <p>Lista de compras</p>
                        </a>
                    </button>
                    <button onmouseover="addHoverClassToElement(purchasesArrivedLink, 'active')" class="aside-panel__link aside-panel__links__purchasesArrived">
                        <a href="/addItems">
                            <i class="fa-solid fa-truck"></i>
                            <p>Llegaron las compras</p>
                        </a>
                    </button>
                    <form onmouseover="addHoverClassToElement(logOutLink, 'active')" action="/logout" method="post" class="aside-panel__link aside-panel__links__logOut">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <button type="submit">Cerrar sesión</button>
                    </form>

                </div>
            </div>
        </aside>

        <nav class="navbar bg-body-tertiary fixed-top" id="collapsable-aside">
            <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                
                <aside class="aside-panel">
                    <div class="aside-panel__container">
                        <div class="aside-panel__user">
                            <i class="fa-solid fa-user"></i>
                            <p><%=username%></p>
                        </div>
                        <div class="aside-panel__links">
                            <button class="aside-panel__link aside-panel__links__dashboard active">
                                <a href="/dashboard">
                                    <i class="fa-solid fa-house"></i>
                                    <p>Dashboard</p>
                                </a>
                            </button>
                            <button onmouseover="addHoverClassToElement(inventoryLink, 'active')" class="aside-panel__link aside-panel__links__inventory">
                                <a href="/inventario">
                                    <i class="fa-solid fa-list"></i>
                                    <p>Inventario</p>
                                </a>
                            </button>
                            <button onmouseover="addHoverClassToElement(addItemLink, 'active')" class="aside-panel__link aside-panel__links__addItem">
                                <a href="addItem">
                                    <i class="fa-solid fa-plus"></i>
                                    <p>Añadir producto</p>
                                </a>
                            </button>
                            <button onmouseover="addHoverClassToElement(editItemLink, 'active')" class="aside-panel__link aside-panel__links__editItem">
                                <a href="/editItemByQR">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                    <p>Editar producto por QR</p>
                                </a>
                            </button>
                            <button onmouseover="addHoverClassToElement(makePurchasesLink, 'active')" class="aside-panel__link aside-panel__links__makePurchases">
                                <a href="/makePurchases">
                                    <i class="fa-solid fa-bag-shopping"></i>
                                    <p>Lista de compras</p>
                                </a>
                            </button>
                            <button onmouseover="addHoverClassToElement(purchasesArrivedLink, 'active')" class="aside-panel__link aside-panel__links__purchasesArrived">
                                <a href="/addItems">
                                    <i class="fa-solid fa-truck"></i>
                                    <p>Llegaron las compras</p>
                                </a>
                            </button>
                            <form onmouseover="addHoverClassToElement(logOutLink, 'active')" action="/logout" method="post" class="aside-panel__link aside-panel__links__logOut">
                                <i class="fa-solid fa-right-from-bracket"></i>
                                <button type="submit">Cerrar sesión</button>
                            </form>
        
                        </div>
                    </div>
                </aside>
            </div>
            </div>
        </div>
        </nav>

        <div class="content">
            <h1 class="title">Dashboard</h1>
            <!-- Quick actions panel: -->
            <div class="quick-actions section">
                <p>Acciones Rápidas</p>
                <div class="quick-actions__links">
                    <button class="quick-actions__links__addItem quick-actions__link">
                        <i class="fa-solid fa-plus"></i>
                        <a href="/addItem">Agregar producto</a>
                    </button>
                    <button class="quick-actions__links__editItem quick-actions__link">
                        <i class="fa-regular fa-pen-to-square"></i>
                        <a href="/editItemByQR">Editar producto</a>
                    </button>
                </div>
            </div>
            <!-- Products/items section: -->
            <div class="some-products section">
                <% if (products.length === 3) { %>
                    <h3>Algunos productos...</h3>
                    <div class="some-products__products">
                        <% for( let i = 0; i < 3; i++ ) { %>
                            <div class="item__container">
                                <h3 class="item__info__title"><%=products[i].name%> <%=products[i].brand%></h3>
                                <% if (products[i].imageName !== "") { %>
                                    <img src="<%= products[i].imageName%>" class="item__info__img">
                                <% } %>
                                <p class="item__info__quantity"><%=products[i].quantity%> <span class="small"><%=products[i].name%>s restantes</span></p>
                                <div class="item__forms">
                                    <form action="/getIdToChange" method="post">
                                        <input type="hidden" name="productId" value="<%=products[i]._id %>">
                                        <button type="submit">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                            Editar
                                        </button>
                                    </form>
                                    <form action="/deleteItem" method="post">
                                        <input type="hidden" name="productId" value="<%= products[i]._id %>">
                                        <button type="submit">
                                            <i class="fa-solid fa-trash"></i>
                                            Eliminar
                                        </button>
                                    </form>
                                </div>
                            </div>
                        <% } %>
                    </div>
                <% } else { %>
                    <h3>Parece que tenes menos de 3 elementos en el inventario. Agregá más para empezar a usar la app!</h3>
                    <img src="img/empty.svg" class="empty-img">
                <% } %>
            </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="scripts/aside.js"></script>
</body>