<%- include("./partials/header") %>
    <title>Dashboard</title>
    <link rel="stylesheet" href="css/inventory.css">
    </head>

    <body>
        <!-- Aside: -->
        <aside class="aside-panel">
            <div class="aside-panel__container">
                <div class="aside-panel__user">
                    <i class="fa-solid fa-user"></i>
                    <p><%=username%></p>
                </div>
                <div class="aside-panel__links">
                    <button onmouseover="addHoverClassToElement(dashboardLink, 'active')" class="aside-panel__link aside-panel__links__dashboard">
                        <a href="/dashboard">
                            <i class="fa-solid fa-house"></i>
                            <p>Dashboard</p>
                        </a>
                    </button>
                    <button class="aside-panel__link aside-panel__links__inventory active">
                        <a href="/inventario">
                            <i class="fa-solid fa-list"></i>
                            <p>Inventario</p>
                        </a>
                    </button>
                    <button onmouseover="addHoverClassToElement(addItemLink, 'active')" class="aside-panel__link aside-panel__links__addItem">
                        <a href="addItem">
                            <i class="fa-solid fa-plus"></i>
                            <p>Añadir producto</p>
                        </a>
                    </button>
                    <button onmouseover="addHoverClassToElement(editItemLink, 'active')" class="aside-panel__link aside-panel__links__editItem">
                        <a href="/editItemByQR">
                            <i class="fa-regular fa-pen-to-square"></i>
                            <p>Editar producto por QR</p>
                        </a>
                    </button>
                    <button onmouseover="addHoverClassToElement(makePurchasesLink, 'active')" class="aside-panel__link aside-panel__links__makePurchases">
                        <a href="/makePurchases">
                            <i class="fa-solid fa-bag-shopping"></i>
                            <p>Lista de compras</p>
                        </a>
                    </button>
                    <button onmouseover="addHoverClassToElement(purchasesArrivedLink, 'active')" class="aside-panel__link aside-panel__links__purchasesArrived">
                        <a href="/addItems">
                            <i class="fa-solid fa-truck"></i>
                            <p>Llegaron las compras</p>
                        </a>
                    </button>
                    <form onmouseover="addHoverClassToElement(logOutLink, 'active')" action="/logout" method="post" class="aside-panel__link aside-panel__links__logOut">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <button type="submit">Cerrar sesión</button>
                    </form>

                </div>
            </div>
        </aside>
        
        <div class="content">
            <h1 class="title">Inventario</h1>
            <!-- Products/items section: -->
            <div class="products-section section">
                <% if ( products.length > 0) { %>
                    <div class="products-section__products">
                        <% for( let i = 0; i < products.length; i++ ) { %>
                            <div class="item__container">
                                <h3 class="item__info__title"><%=products[i].name%> <%=products[i].brand%></h3>
                                <% if (products[i].imageName !== "") { %>
                                    <img src="<%= products[i].imageName%>" class="item__info__img">
                                <% } %>
                                <p class="item__info__quantity"><%=products[i].quantity%> <span class="small"><%=products[i].name%>s restantes</span></p>
                                <div class="item__forms">
                                    <form action="/getIdToChange" method="post">
                                        <input type="hidden" name="productId" value="<%=products[i]._id %>">
                                        <button type="submit">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                            Editar
                                        </button>
                                    </form>
                                    <form action="/deleteItem" method="post">
                                        <input type="hidden" name="productId" value="<%= products[i]._id %>">
                                        <button type="submit">
                                            <i class="fa-solid fa-trash"></i>
                                            Eliminar
                                        </button>
                                    </form>
                                </div>
                            </div>
                        <% } %>
                    </div>
                <% } else { %>
                    <h3>Parece que no tenes ningún elemento en el inventario. Agregá al menos uno para empezar a usar la app!</h3>
                    <img src="img/empty.svg" class="empty-img">
                <% } %>
            </div>
    </div>
<script src="scripts/aside.js"></script>
</body>