<%- include("./partials/header") %>
    <title>Lista de compras</title>
    <link rel="stylesheet" href="css/makePurchases.css">
</head>

<body>
    <!-- Aside: -->
    <aside class="aside-panel" id="aside-panel">
        <div class="aside-panel__container">
            <div class="aside-panel__user">
                <i class="fa-solid fa-user"></i>
                <p><%=username%></p>
            </div>
            <div class="aside-panel__links">
                <button onmouseover="addHoverClassToElement(dashboardLink, 'active')" class="aside-panel__link aside-panel__links__dashboard">
                    <a href="/dashboard">
                        <i class="fa-solid fa-house"></i>
                        <p>Dashboard</p>
                    </a>
                </button>
                <button onmouseover="addHoverClassToElement(inventoryLink, 'active')" class="aside-panel__link aside-panel__links__inventory">
                    <a href="/inventario">
                        <i class="fa-solid fa-list"></i>
                        <p>Inventario</p>
                    </a>
                </button>
                <button onmouseover="addHoverClassToElement(addItemLink, 'active')" class="aside-panel__link aside-panel__links__addItem">
                    <a href="addItem">
                        <i class="fa-solid fa-plus"></i>
                        <p>Añadir producto</p>
                    </a>
                </button>
                <button onmouseover="addHoverClassToElement(editItemLink, 'active')" class="aside-panel__link aside-panel__links__editItem">
                    <a href="/editItemByQR">
                        <i class="fa-regular fa-pen-to-square"></i>
                        <p>Editar producto por QR</p>
                    </a>
                </button>
                <button class="aside-panel__link aside-panel__links__makePurchases active">
                    <a href="/makePurchases">
                        <i class="fa-solid fa-bag-shopping"></i>
                        <p>Lista de compras</p>
                    </a>
                </button>
                <button onmouseover="addHoverClassToElement(purchasesArrivedLink, 'active')" class="aside-panel__link aside-panel__links__purchasesArrived">
                    <a href="/addItems">
                        <i class="fa-solid fa-truck"></i>
                        <p>Llegaron las compras</p>
                    </a>
                </button>
                <form onmouseover="addHoverClassToElement(logOutLink, 'active')" action="/logout" method="post" class="aside-panel__link aside-panel__links__logOut">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <button type="submit">Cerrar sesión</button>
                </form>

            </div>
        </div>
    </aside>

    <nav class="navbar bg-body-tertiary fixed-top" id="collapsable-aside">
        <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            
            <aside class="aside-panel">
                <div class="aside-panel__container">
                    <div class="aside-panel__user">
                        <i class="fa-solid fa-user"></i>
                        <p><%=username%></p>
                    </div>
                    <div class="aside-panel__links">
                        <button class="aside-panel__link aside-panel__links__dashboard">
                            <a href="/dashboard">
                                <i class="fa-solid fa-house"></i>
                                <p>Dashboard</p>
                            </a>
                        </button>
                        <button class="aside-panel__link aside-panel__links__inventory">
                            <a href="/inventario">
                                <i class="fa-solid fa-list"></i>
                                <p>Inventario</p>
                            </a>
                        </button>
                        <button class="aside-panel__link aside-panel__links__addItem">
                            <a href="addItem">
                                <i class="fa-solid fa-plus"></i>
                                <p>Añadir producto</p>
                            </a>
                        </button>
                        <button class="aside-panel__link aside-panel__links__editItem">
                            <a href="/editItemByQR">
                                <i class="fa-regular fa-pen-to-square"></i>
                                <p>Editar producto por QR</p>
                            </a>
                        </button>
                        <button class="aside-panel__link aside-panel__links__makePurchases active">
                            <a href="/makePurchases">
                                <i class="fa-solid fa-bag-shopping"></i>
                                <p>Lista de compras</p>
                            </a>
                        </button>
                        <button class="aside-panel__link aside-panel__links__purchasesArrived">
                            <a href="/addItems">
                                <i class="fa-solid fa-truck"></i>
                                <p>Llegaron las compras</p>
                            </a>
                        </button>
                        <form action="/logout" method="post" class="aside-panel__link aside-panel__links__logOut">
                            <i class="fa-solid fa-right-from-bracket"></i>
                            <button type="submit">Cerrar sesión</button>
                        </form>
    
                    </div>
                </div>
            </aside>
        </div>
        </div>
    </div>
    </nav>

    <div class="content">
        <h1 class="title">Lista de compras</h1>
        <!-- Few elements remaining section: -->
        <div class="few-remaining section">
            <p class="section__description">Elementos que están cerca del stock mínimo proporcionado (el formato es cantidad actual/stock mínimo)</p>
            <div class="few-remaining__products-list">
                <ul>
                    <% productsBelowMS.forEach(product => { %>
                        <li><p><%=product.name%> <%=product.brand%>: quedan <%=product.quantity%> / <%=product.minQuantity %>. Queda(n) <%=product.quantity - product.minQuantity %> antes de llegar al stock mínimo</p></li>
                    <% }) %>
                </ul>
            </div>
        </div>
        <!-- Missing products section: -->
        <div class="missing_products section">
            <% if (missingItems.length > 0) { %>
                <p class="section__description">Elementos que faltan:</p>
                <ol>
                    <% missingItems.forEach(item => { %>
                        <li><p><%=item.name%> <%=item.brand%> </p></li>
                    <% }) %>
                </ol>
            <% } else if (missingItems.length === 0 ){ %>
                <p class="section__description">No hay elementos faltantes!</p>
                <div class="empty-cart__container">
                    <img class="empty-cart__img empty-img" src="img/empty_cart.svg" alt="An empty cart">
                </div>
            <% } %>
        </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="scripts/aside.js"></script>
</body>